resources:
  - name: my-service
    type: gcp-types/run-v1:services
    properties:
      metadata:
        name: my-service
        namespace: my-namespace
      spec:
        template:
          spec:
            containers:
              - image: gcr.io/my-project/my-image
                ports:
                  - containerPort: 8080
            serviceAccountName: my-service-account
      traffic:
        - percent: 100
          revisionName: my-service-revision
          latestRevision: false

  - name: my-database
    type: gcp-types/sqladmin-v1:instances
    properties:
      databaseVersion: POSTGRES_12
      name: my-database
      region: us-central1
      settings:
        tier: db-f1-micro
        ipConfiguration:
          authorizedNetworks:
            - value: 0.0.0.0/0
          ipv4Enabled: true

  - name: my-backup
    type: gcp-types/storage-v1:buckets
    properties:
      name: my-backup-bucket
      location: US
      storageClass: STANDARD
      versioning:
        enabled: true